@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(270deg, #171a26, #23273a, #22273b, #262a3b);
    background-size: 800% 800%;
}

.offer {
    font-size: 140px;
    display: block;
    color: #2c234d;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 1px #f6f7f8;
    -webkit-text-fill-color: transparent;
}

.logo {
    width: 100px;
    height: auto;
}

ul.parallax {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30%;
    bottom: 10%;
    z-index: -1;

}

ul.parallax li {
    display: inline-block;
}



ul.parallax li span {
    width: 40px;
    margin: 15px;
    height: 200px;
    background-color: #ffffff;
    display: block;
    border-radius: 100px;
    opacity: 0.1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.subtitle {
    font-size: 14px;
    color: #fff;
    position: relative;
    line-height: 28px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 40px;
    letter-spacing: .1em;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    background: var(--primary-color);
    background-image: url('/section-title.svg');
}

.bg-icons {
    background-color: #ff0336;
    padding: 5px;
    color: #fff;
    border-radius: 50px;
    margin: 6px;
}

.right-img {
    top: 190px;
    width: 344px;
    opacity: 0.4;
}

.running {
    width: 85%;
    height: 120%;
}

.boraderrounded {
    color: #9b9b9b;
    cursor: pointer;
}

.hyperLink a {
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}


@layer utilities {
    @keyframes typing {
        0% {
            width: 0%;
            visibility: hidden;
        }

        100% {
            width: 100%;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }

        100% {
            border-color: white;
        }
    }

    .animate-typing {
        animation: typing 5s steps(40) infinite alternate, blink 0.7s step-end;
        white-space: nowrap;
        overflow: hidden;
        border-right: 4px solid white;
        padding-left: 160px;
    }

    /* .animate-typing {
        animation: typing 5s steps(40) 1 forwards, blink 0.7s step-end 3;
        white-space: nowrap;
        overflow: hidden;
        border-right: 4px solid white;
        padding-left: 160px;
    } */
}

.aboutImages {
    left: -340px;
}

@layer components {
    .ping {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ff0336;
        animation: ping 1s infinite;
    }
}